@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function OnSuccess(data) {
        var results = $('#results'); 
        results.empty(); 
        for (var i = 0; i < data.length; i++) {
            results.append('<li>' + data[i].Name + ", " + data[i].Press + ", " + data[i].Themes + '</li>');
        }
    }
</script>
 
@using (Ajax.BeginForm("JsonSearch", new AjaxOptions {OnSuccess = "OnSuccess"}))
{
    <input type="text" name="name" />
    <input type="submit" value="Поиск" />
}
<br />
<div id="results"></div>
