
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-md-offset-2 col-md-10">
        Здравствуйте, @Session["FirstName"].ToString()  @Session["LastName"].ToString()!
    </div>
    @using (Html.BeginForm("Logout", "Home", FormMethod.Get))
    {
        <div class="form-actions no-color">
            <input type="submit" value="Logout" class="btn btn-default" />
        </div>
    }
</body>
</html>
