@model ManyToManyExample1.Models.Language

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление языка</h2>

<h3>Вы действительно хотите удалить язык?</h3>
<fieldset>
    <legend>Язык</legend>

    <div class="display-label">
       <b>Название</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться к списку языков", "Index")
    </p>
}
