@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Partial("Partial")
        <h2>@ViewData["Head"]</h2>
        <h2>@ViewBag.Name</h2>
    </div>
</body>
</html>
