@model ASP_NET_Identity.Models.ApplicationUser
@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete the account?</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("To the Administration page", "Index")
    </div>
}

