<h2>Model is valid</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Students")";
        }, 2000);
    })
</script>