 .key_about { background: url('images/about.png') left center no-repeat; padding: 0px 0px 0px 20px; }
 .key_news { background: url('images/news.png') left center no-repeat; padding: 0px 0px 0px 20px; }
 .key_board { background: url('images/clipboard.png') left center no-repeat; padding: 0px 0px 0px 20px; }
