@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Авторизация</title>
</head>
<body>
    @{
        <div>
            Здравствуйте, @this.Context.Request.Cookies["login"]
        </div>
    }
    @using (Html.BeginForm("Logout", "Home", FormMethod.Get))
    {
        <div>
            <input type="submit" value="Выйти" />
        </div>
    }
    <div>
        @Html.ActionLink("На страницу авторизации", "Create", "Login")
    </div>
</body>
</html>
